.product-slide-show, .product-single-image {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.product-single-image {
    height: 150px;
    img {
        max-width: 10%;
        max-height: 10%;
        margin: auto;
        transform-origin: top center;
        transform: scale(10);
    }
}