.property-search {

	.search-height{
		min-height: 700px;

	}

	.popout {
		position: absolute;
		left: 0;
		top: 240px;
		a {
			display: block;
			padding: 15px 10px;
			background: #FFF;
			border: 1px solid #ccc;
			&:hover {
				text-decoration: none;
				background: #F0F0F0;
			}
			&:active, &:focus {
				text-decoration: none;
			}
		}
	}

	.left-column {
		position: absolute;
		top: 115px;
		left: 0;
		overflow: hidden;
		padding: 20px 0;
		.search-box {
			.search-labels {
				margin-bottom: 20px;
				.label {
					display: inline-block;
					padding: 5px 8px;
					margin-bottom: 2px;
				}
			}
		}
		.filter {
			.section {
				margin-bottom: 12px;
				.heading {
					font-size: 0.9em;
					color: $brand-info;
					text-transform: uppercase;
					font-weight: bold;
				}
				ul {
					padding: 0 0 0 5px;
					li {
						list-style: none;
						a {
							&:hover {
								text-decoration: none;
							}
						}
						&.more-options {
							margin-top: 5px;
							a {
								color: $brand-info;
								&:hover {
									color: $brand-primary;
								}
							}
						}
					}
				}
			}
		}
	}

	.property-results {
		padding: 20px 0;
		.per-page {
			margin-top: 20px;
		}
		.property-result {
			border: 1px solid #ccc;
			background: #fff;
			padding: 10px;
			margin-bottom: 10px;
			.image-container {
				margin-bottom: 20px;
				.property-slide-show {
					padding: 0;
					margin: 0;
					@include font-size(24px);
					li {
						list-style: none;
						&:not(:first-child) {
							img {
								display: none;
							}
						}
					}
					.nivo-directionNav {
						a {
							color: #FFF;
						}
						.nivo-nextNav {
							right: 10px;
						}
						.nivo-prevNav {
							left: 10px;
						}
					}
				}
				width: 50%;
				text-align: center;
				float: left;
				margin-right: 30px;
				overflow: hidden;
				border: 1px solid #333;
			}
			.details {
				@extend .clearfix;
				h2 {
					font-weight: 300;
					color: #333;
					margin: 0 0 10px 0;
					line-height: 1.4;
				}
				.price {
					color: #999;
					margin: 0 0 5px 5px;
					font-weight: 600;
					float: right;
					font-size: 2em;
				}
				p {
					color: #666;
				}
			}
			.stats {
				li {
					list-style: none;
					margin-bottom: 5px;
					.icon {
						margin-right: 10px;
						width: 20px;
						img {
							width: 16px;
						}
					}
				}
			}
			.amenities {
				.label {
					display: inline-block;
					margin-bottom: 5px;
					padding: 5px 10px;
				}
			}
			.buttons {
				clear: both;
				margin-top: 10px;
				.fa-star {
					color: $brand-warning;
				}
				.fa-info {
					color: #0000ff;
				}
				.fa-remove {
					color: $brand-primary;
				}
				.fa-envelope {
					color: #999;
				}
			}
		}
	}
}

.property-view {
	.image-container {
		margin: 0;
		img {
			margin-bottom: 30px;
		}
		.property-slide-show {
			padding: 0;
			margin: 0;
			li {
				list-style: none;
				&:not(:first-child) {
					img {
						display: none;
					}
				}
			}
			.nivo-directionNav {
				a {
					color: #FFF;
				}
				.nivo-nextNav {
					right: 10px;
				}
				.nivo-prevNav {
					left: 10px;
				}
			}
		}
	}

	h1 {
		margin: 0 0 10px 0;
		font-size: 1.7em;
	}

	h3 {
		margin: 0 0 10px 0;
	}

	.price {
		margin: -10px 0 18px 0;
		font-size: 2.1em;
		color: #ccc;
		float: right;
	}

	.stats {
		padding: 0;
		margin: 0;
		li {
			list-style: none;
			margin-bottom: 12px;
			&:last-child {
				margin: 0;
			}
		}
	}

	.description-well {
		background: #FFF;
	}

	.amenities-well {
		position: relative;
		background: #FFF;
		.col-sm-6 {
			position: static;
		}
		.amenities {
			text-align: right;
		}
		.buttons {
			clear: both;
			.fa-star {
				color: $brand-warning;
			}
			.fa-info {
				color: #0000ff;
			}
			.fa-remove {
				color: $brand-primary;
			}
			.fa-envelope {
				color: #999;
			}
		}
	}
}

#map-canvas {
	width: 100%;
	height: 400px;
	background-color: #CCC;
}
