.blog-list {
    .blog-entry {
        border: 2px solid #ccc;
        margin-bottom: 20px;
        .blog-entry-container {
            @extend .row;
            .image-container {
                @extend .col-sm-3;
                a {
                    display: block;
                }
            }
            .blog-item-container {
                @extend .col-sm-9;
                > div {
                    @extend .clearfix;
                    padding: 0 20px 20px 0;
                }
            }
        }
        .created {
            float: left;
        }
        .author {
            float: right;
            margin-right: 20px;
        }
    }
}

.blog-post {
    .tags {
        @extend .clearfix;
        margin-bottom: 15px;
        padding-bottom: 5px;
        border-bottom: 1px solid #ccc;
        .created {
            float: left;
        }
        .author {
            float: right;
            margin-right: 20px;
        }
    }
}

.cms-blog-posts-widget {
    @extend .row;
    .blog-entry {
        @extend .col-sm-4;
        .blog-entry-container {
            .image-container {
                @extend .col-sm-12;
                a {
                    overflow: hidden;
                    height: 200px;
                    border: 1px solid #ccc;
                    img {
                        width: 100%;
                    }
                }
            }
            .blog-item-container {
                @extend .col-sm-12;
            }
        }
        border: 0;
    }
}