@import "../components/property/listings-type1";
@import "../components/property/listings-type2";
@import "../components/property/view";
@import "../components/property/view-type1";
@import "../components/property/view-type2";
@import "../components/property/categories";

#map-canvas {
    width: 100%;
    height: 400px;
    background-color: #CCC;
}

.search-box {
    text-align: center;
    input {
        font-size: 1.2em;
        font-weight: 300;
        height: 50px;
        width: 500px;
        display: inline-block;
        text-align: center;
    }
}

.thumbnail {
    position: relative;
    .caption {
        padding-bottom: 20px;
    }
    .buttons {
        position: absolute;
        bottom: 13px;
        left: 13px;
    }
}

.property-badge {
    position: absolute;
    width: 120px;
    height: 80px;
    top: 20px;
    right: 20px;
    background-size: 100% 100%;
    z-index: 11;
    &.sold {
        background-image: url(../images/property/sold-badge.png);
    }
    &.rented {
        background-image: url(../images/property/rented-badge.png);
    }
}